@media(max-width:768px) {
  .nav-menu {
    flex-direction: column;
    margin-right: 20px;
    background-color: #c59971;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 1000; /* Asegura que esté por encima del contenido */
  }

  .nav-menu_visible {
    left: 0; /* Asegura que se muestre correctamente */
    background-color: #c59971; /* Color sólido */
    opacity: 1; /* Asegura que sea completamente opaco */
  }

  .nav-menu-link {
    color: white;
  }
}
